@model IEnumerable<ProjectOne.Models.Orders>
@{
    ViewData["Title"] = "Index";
}
<h1>Order History</h1>
<form asp-controller="Orders" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <input type="submit" value="Store Filter" />
            <input type="text" name="SearchString">
            <a asp-action="Index">&nbsp;(All)</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime)
                </td>
            </tr>
        }
    </tbody>
</table>

<label>Dallas Total Sales:</label>  @ViewBag.storetot1
<br />
<label>Memphis Total Sales:</label>  @ViewBag.storetot2
<br />
<label>Phoenix Total Sales:</label>  @ViewBag.storetot3
<br />
<a asp-action="CustomerOrders">View a Customers Orders</a>